<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>書籍管理システム</title>
</head>

<body>
    <h1>著者登録</h1>
    <form th:action="@{/book/author/register}" th:object="${authorInfo}" method="post">
        <div>
            <label for="authorId">ID:</label>
            <input type="number" id="authorId" name="authorId" th:value="*{authorId}" required>
        </div>
        <div>
            <label for="name">著者名:</label>
            <input type="text" id="name" name="name" th:value="*{name}" required>
        </div>
        <div>
            <button type="submit" name="register">登録</button>
        </div>
    </form>
</body>

</html>